body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serifs;
  position: relative;
  overflow-x: hidden;
}
body .all_cont {
  width: 1366px;
  margin: 0 auto;
  background-color: #fff;
}

.button {
  width: 250px;
  height: 50px;
  background-color: #1C69D4;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 30px 0 0 0;
  padding: 0 0 8px 0;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  border: 2px solid #57A2E8;
}

.cont {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header, .footer_forma {
  background-image: url("../img/header/back-13 2.jpg");
  height: auto;
  margin-left: -1px;
  background-size: cover;
  padding: 0 0 80px 0;
}
header .nav, .footer_forma .nav {
  width: 100%;
  z-index: 20;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
}
header .nav .logo1, .footer_forma .nav .logo1 {
  position: absolute;
  left: 74px;
  top: 22px;
  z-index: 20;
}
header .nav .logo1 img, .footer_forma .nav .logo1 img {
  width: 100px;
}
header .nav .logo1_none, .footer_forma .nav .logo1_none {
  display: none;
}
header .nav .right_nav, .footer_forma .nav .right_nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
  margin: 23px 0 0 98px;
}
header .nav .right_nav .logo2 img, .footer_forma .nav .right_nav .logo2 img {
  width: 150px;
}
header .nav .right_nav ul, .footer_forma .nav .right_nav ul {
  display: flex;
  list-style: none;
  width: 700px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}
header .nav .right_nav ul li a, .footer_forma .nav .right_nav ul li a {
  color: #ffffff;
  line-height: 100px;
  font-weight: 400;
  text-decoration: none;
}
header .nav .right_nav ul li a:hover, .footer_forma .nav .right_nav ul li a:hover {
  cursor: pointer;
  color: #1C69D4;
}



header .nav .burger_menu_button, .footer_forma .nav .burger_menu_button {
  position: fixed;
  background-color: #1C69D4;
  width: 100px;
  height: 69px;
  top: 0;
  right: 0;
  z-index: 50;
  display: none;
}
header .nav .burger_menu_button span, .footer_forma .nav .burger_menu_button span {
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #ffffff;
}
header .nav .burger_menu_button .one, .footer_forma .nav .burger_menu_button .one {
  margin: 25px 0 0 25px;
}
header .nav .burger_menu_button .two, .footer_forma .nav .burger_menu_button .two {
  margin: 35px 0 0 25px;
}
header .nav .burger_menu_button .three, .footer_forma .nav .burger_menu_button .three {
  margin: 45px 0 0 25px;
}
header .nav .burger_menu_li, .footer_forma .nav .burger_menu_li {
  padding: 100px 0 0 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 360px;
  height: 100%;
  background-color: #1C69D4;
  z-index: 30;
  display: none;
}
header .nav .burger_menu_li .burger_menu_content, .footer_forma .nav .burger_menu_li .burger_menu_content {
  display: flex;
  text-align: center;
  flex-direction: column;
}
header .nav .burger_menu_li .burger_menu_content a, .footer_forma .nav .burger_menu_li .burger_menu_content a {
  text-decoration: none;
  color: #fff;
  line-height: 70px;
  font-size: 30px;
}
header .nav .burger_menu_li .burger_menu_content a:hover, .footer_forma .nav .burger_menu_li .burger_menu_content a:hover {
  color: #000;
}
header .nav .active span, .footer_forma .nav .active span {
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #ffffff;
  margin: 30px 0 0 20px;
}
header .nav .active .one, .footer_forma .nav .active .one {
  margin: 30px 0 0 20px;
  transform: rotate(-45deg);
}
header .nav .active .two, .footer_forma .nav .active .two {
  margin: 30px 0 0 20px;
  display: none;
}
header .nav .active .three, .footer_forma .nav .active .three {
  margin: 30px 0 0 20px;
  transform: rotate(45deg);
}



header .header_content, .footer_forma .header_content {
  padding: 150px 0 0 0;
}
header .header_content .cont, .footer_forma .header_content .cont {
  display: flex;
}
header .header_content .cont .left_content, .footer_forma .header_content .cont .left_content {
  width: 750px;
}
header .header_content .cont .left_content .h3_one, .footer_forma .header_content .cont .left_content .h3_one {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  margin: 80px 0 6px 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  background-color: #1C69D4;
}
header .header_content .cont .left_content .h3_two, .footer_forma .header_content .cont .left_content .h3_two {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
header .header_content .cont .left_content .span_three, .footer_forma .header_content .cont .left_content .span_three {
  font-size: 36px;
  color: #ffffff;
  margin: 30px 0 60px 10px;
  font-weight: bold;
}
header .header_content .cont .left_content .accent, .footer_forma .header_content .cont .left_content .accent {
  font-size: 25px;
  text-decoration: line-through;
  color: #ffffff;
  margin-left: 10px;
}
header .header_content .cont .left_content .form h5, .footer_forma .header_content .cont .left_content .form h5 {
  color: #ffffff;
  margin: 50px 0 10px 0;
}
header .header_content .cont .left_content .form h5 span, .footer_forma .header_content .cont .left_content .form h5 span {
  text-transform: uppercase;
}
header .header_content .cont .left_content .form input, .footer_forma .header_content .cont .left_content .form input {
  border: none;
  font-size: 20px;
  height: 50px;
  padding: 0 0 0 10px;
}
header .header_content .cont .left_content .form .timer, .footer_forma .header_content .cont .left_content .form .timer {
  width: 320px;
  height: 130px;
}
header .header_content .cont .left_content .form .timer h6, .footer_forma .header_content .cont .left_content .form .timer h6 {
  font-size: 18px;
  color: #ffffff;
  margin: 50px 0 15px 15px;
  font-weight: 300;
}
header .header_content .cont .right_content, .footer_forma .header_content .cont .right_content {
  position: relative;
  margin: 110px 0 0 0;
}
header .header_content .cont .right_content img, .footer_forma .header_content .cont .right_content img {
  width: 468px;
}
header .header_content .cont .right_content .img, .footer_forma .header_content .cont .right_content .img {
  color: #ffffff;
  position: absolute;
  top: 145px;
  left: -86px;
  width: 130px;
  height: 50px;
  background-color: #1C69D4;
  line-height: 51px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}
header .header_content .cont .right_content .img a, .footer_forma .header_content .cont .right_content .img a {
  color: #ffffff;
  font-size: 28px;
}

main .flavors, main .absolute_sensation, main .flavor_minuses {
  height: auto;
  padding-top: 50px;
}
main .flavors .cont .flavors_content, main .absolute_sensation .cont .flavors_content, main .flavor_minuses .cont .flavors_content {
  text-align: center;
}
main .flavors .cont .flavors_content h3, main .absolute_sensation .cont .flavors_content h3, main .flavor_minuses .cont .flavors_content h3 {
  color: #000000;
  margin: 0 0 50px 0;
  font-size: 36px;
  font-weight: 400;
}
main .flavors .cont .flavors_content .video_iframe, main .absolute_sensation .cont .flavors_content .video_iframe, main .flavor_minuses .cont .flavors_content .video_iframe {
  width: 640px;
  height: 360px;
  margin: 0 auto;
}
main .flavors .cont .flavors_content button, main .absolute_sensation .cont .flavors_content button, main .flavor_minuses .cont .flavors_content button {
  width: 250px;
  height: 50px;
  background-color: #1C69D4;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 50px 0 0 0;
  padding: 0 0 8px 0;
}
main .flavors .cont .flavors_content button:hover, main .absolute_sensation .cont .flavors_content button:hover, main .flavor_minuses .cont .flavors_content button:hover {
  cursor: pointer;
}
main .flavors .cont .flavors_content button:focus, main .absolute_sensation .cont .flavors_content button:focus, main .flavor_minuses .cont .flavors_content button:focus {
  border: 2px solid #57A2E8;
}
main .bmw_natural {
  padding: 50px 0 0 0;
  height: 900px;
}
main .bmw_natural .cont .air_content {
  display: flex;
  justify-content: center;
}
main .bmw_natural .cont .air_content .air {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
}
main .bmw_natural .cont .air_content .air h3 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}
main .bmw_natural .cont .air_content .air p {
  font-size: 15px;
  margin: 10px 0 0 0;
}
main .bmw_natural .cont .air_content .air .img {
  width: 370px;
  overflow: hidden;
  transition: 0.5s;
}
main .bmw_natural .cont .air_content .air .img img {
  width: 408px;
  transform: scale(1.1);
  transition: 0.2s;
}
main .bmw_natural .cont .air_content .air .img:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
main .bmw_natural .cont .air_content .air .img:hover img {
  transform: scale(1.03);
  transition: 0.2s;
}
main .bmw_natural .cont .air_content .air .one {
  margin: 100px 0 0 0;
}
main .bmw_natural .cont .air_content .air .two {
  margin: 5px 0 0 0;
}
main .bmw_natural .cont .air_content .air_two {
  margin-left: 5px;
}
main .bmw_natural .cont .air_content .air_two .first_img {
  width: 476px;
  overflow: hidden;
  transition: 0.5s;
}
main .bmw_natural .cont .air_content .air_two .first_img img {
  width: 500px;
  transform: scale(1.1);
  transition: 0.2s;
}
main .bmw_natural .cont .air_content .air_two .first_img:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .bmw_natural .cont .air_content .air_two .first_img:hover img {
  transform: scale(1.03);
  transition: 0.2s;
}
main .bmw_natural .cont .air_content .air_two .second_img {
  width: 476px;
  height: 409px;
  overflow: hidden;
  margin: 5px 0 0 0;
  transition: 0.5s;
}
main .bmw_natural .cont .air_content .air_two .second_img img {
  width: 470px;
  height: 458px;
  transform: scale(1.1);
  transition: 0.2s;
}
main .bmw_natural .cont .air_content .air_two .second_img:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .bmw_natural .cont .air_content .air_two .second_img:hover img {
  transform: scale(1.03);
  transition: 0.2s;
}
main .aromas_bmw, main .do_not_deny_nothing, main .max_pleasure {
  height: auto;
}
main .aromas_bmw .aromas_bmw_content, main .do_not_deny_nothing .aromas_bmw_content, main .max_pleasure .aromas_bmw_content {
  display: flex;
  justify-content: space-between;
}
main .aromas_bmw .aromas_bmw_content .aromos_aromo, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo, main .max_pleasure .aromas_bmw_content .aromos_aromo {
  margin: 0 0 0 70px;
}
main .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2 {
  font-size: 48px;
  font-weight: 400;
  color: #1C69D4;
  width: 590px;
  margin: 130px 0 75px 0;
}
main .aromas_bmw .aromas_bmw_content .aromos_aromo p, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo p, main .max_pleasure .aromas_bmw_content .aromos_aromo p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
main .aromas_bmw .aromas_bmw_content .aromo_img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img, main .max_pleasure .aromas_bmw_content .aromo_img {
  width: 670px;
  height: 419px;
}
main .aromas_bmw .aromas_bmw_content .aromo_img img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img img, main .max_pleasure .aromas_bmw_content .aromo_img img {
  height: 420px;
  width: 671px;
  margin: -1px 0 0 -1px;
}
main .absolute_sensation, main .flavor_minuses {
  padding: 50px 0 0 0;
}
main .absolute_sensation .absolute_content, main .flavor_minuses .absolute_content {
  display: flex;
  justify-content: space-between;
}
main .absolute_sensation .absolute_content .aromo_img, main .flavor_minuses .absolute_content .aromo_img {
  width: 667px;
  height: 419px;
}
main .absolute_sensation .absolute_content .aromo_img img, main .flavor_minuses .absolute_content .aromo_img img {
  width: 667px;
  height: 421px;
}
main .absolute_sensation .absolute_content .aromo, main .flavor_minuses .absolute_content .aromo {
  width: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .absolute_sensation .absolute_content .aromo h2, main .flavor_minuses .absolute_content .aromo h2 {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0 0 23px 0;
}
main .absolute_sensation .absolute_content .aromo h5, main .flavor_minuses .absolute_content .aromo h5 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
main .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
  margin: 25px 0 0 0;
  font-size: 14px;
  width: 510px;
}
main .absolute_sensation .absolute_content .aromo button, main .flavor_minuses .absolute_content .aromo button {
  width: 250px;
  height: 50px;
  background-color: #1C69D4;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 5px 0 0 0;
  padding: 0 0 8px 0;
}
main .absolute_sensation .absolute_content .aromo button:hover, main .flavor_minuses .absolute_content .aromo button:hover {
  cursor: pointer;
}
main .absolute_sensation .absolute_content .aromo button:focus, main .flavor_minuses .absolute_content .aromo button:focus {
  border: 2px solid #57A2E8;
}
main .max_pleasure {
  padding: 50px 0 0 0;
}
main .max_pleasure .max_pleasure_content {
  display: flex;
  justify-content: space-between;
}
main .max_pleasure .max_pleasure_content .aromo {
  margin: 0 0 0 70px;
}
main .max_pleasure .max_pleasure_content .aromo h2 {
  font-size: 48px;
  font-weight: 400;
  color: #1C69D4;
  width: 590px;
  margin: 130px 0 80px 0;
}
main .max_pleasure .max_pleasure_content .aromo p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
main .max_pleasure .max_pleasure_content .aromo_img {
  width: 670px;
  height: 420px;
}
main .max_pleasure .max_pleasure_content .aromo_img img {
  height: 421px;
}
main .flavor_minuses {
  padding: 50px 0 0 0;
}
main .flavor_minuses h3 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
main .flavor_minuses .minuses {
  display: flex;
  justify-content: space-around;
}
main .flavor_minuses .minuses ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main .flavor_minuses .minuses ul li {
  margin: 10px 0 0 0;
  font-size: 13px;
}
main .flavor_minuses .flavors_content {
  margin: 50px 0 0 0;
}
main .flavor_minuses .flavors_content .aromo_img {
  width: 670px;
  height: 420px;
}
main .flavor_minuses .flavors_content .aromo_img img {
  width: 670px;
  height: 420px;
  margin-left: -1px;
}
main .flavor_minuses .flavors_content .aromo h2 {
  color: #1C69D4;
  margin: 130px 0 80px 0;
  font-size: 48px;
}
main .do_not_deny_nothing {
  padding: 50px 0 0 0;
  position: relative;
}
main .do_not_deny_nothing .do_not_deny_content {
  display: flex;
  justify-content: space-between;
}
main .do_not_deny_nothing .do_not_deny_content .aromo {
  width: 600px;
  padding: 0 0 0 100px;
}
main .do_not_deny_nothing .do_not_deny_content .aromo h2 {
  color: #000000;
  font-size: 35px;
  margin: 0px 0 50px;
}
main .do_not_deny_nothing .do_not_deny_content .aromo span {
  font-size: 20px;
}
main .do_not_deny_nothing .do_not_deny_content .aromo p {
  width: 450px;
  margin: 30px 0 0 0;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img {
  width: 670px;
  height: 420px;
  background-image: url("../img/aromo_bmw/Subtract.png");
  background-size: cover;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div {
  width: 270px;
  height: 387px;
  position: relative;
  margin: 15px 0 0 82px;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.png");
  width: 270px;
  height: 387px;
  padding: 130px 0 0 100px;
  transform: scale(1);
  transition: 0.3s;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate a {
  color: #ffffff;
  font-size: 80px;
  transition: 0.3s;
  display: none;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}
main .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate:hover a {
  display: block;
}
main .do_not_deny_nothing .do_not_deny_content .before-el {
  position: absolute;
  width: 700px;
  height: 1000px;
  left: 320px;
  top: -200px;
  box-shadow: 20px -15px 10px 4727px rgba(0, 0, 0, 0.5);
  z-index: 999;
  background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.jpg");
  padding: 450px 0 0 300px;
  display: none;
}
main .do_not_deny_nothing .do_not_deny_content .before-el a {
  color: #ffffff;
  font-size: 80px;
  transition: 0.3s;
  opacity: 0.6;
}
main .do_not_deny_nothing .do_not_deny_content .before-el .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000vh;
  height: 100vh;
}
main .reviews {
  height: auto;
  padding: 50px 0 0 0;
}
main .reviews .reviews_content h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
main .reviews .reviews_content .comment {
  margin: 60px 0 0 0;
}
main .reviews .reviews_content .comment .comment_content {
  width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
main .reviews .reviews_content .comment .comment_content .left_comment {
  width: 390px;
  margin: 0 80px 0 0;
}
main .reviews .reviews_content .comment .comment_content .left_comment h4 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 400;
}
main .reviews .reviews_content .comment .comment_content .left_comment p {
  margin: 0;
  font-size: 14px;
}
main .reviews .reviews_content .comment .comment_content .right_comment {
  width: 430px;
}
main .reviews .reviews_content .comment .comment_content .right_comment img {
  width: 430px;
}
main .reviews .reviews_content .comment .carousel .carousel-control-prev, main .reviews .reviews_content .comment .carousel .carousel-control-next {
  background-image: none;
}
main .reviews .reviews_content .comment .carousel .carousel-control-prev .carousel-control-prev-icon, main .reviews .reviews_content .comment .carousel .carousel-control-prev .carousel-control-next-icon, main .reviews .reviews_content .comment .carousel .carousel-control-next .carousel-control-prev-icon, main .reviews .reviews_content .comment .carousel .carousel-control-next .carousel-control-next-icon {
  background-color: #1C69D4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 40%;
}
main .replaceable_cartridges {
  padding: 50px 0 100px 0;
  height: auto;
  display: block;
}
main .replaceable_cartridges .cont {
  width: 1133px;
}
main .replaceable_cartridges .cont h3 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
main .replaceable_cartridges .cont h3 span {
  font-weight: 400;
}
main .replaceable_cartridges .cont .cartridges .card {
  border: none;
  margin: 0 auto;
  height: 524px;
  text-align: center;
}
main .replaceable_cartridges .cont .cartridges .card h3 {
  font-size: 25px;
}
main .replaceable_cartridges .cont .cartridges .card h4 {
  font-size: 19px;
}
main .replaceable_cartridges .cont .cartridges .card img {
  transform: scale(0.9);
  transition: 0.3s;
}
main .replaceable_cartridges .cont .cartridges .card img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
main .replaceable_cartridges .cont .cartridges .carousel-control-prev, main .replaceable_cartridges .cont .cartridges .carousel-control-next {
  background-image: none;
}
main .replaceable_cartridges .cont .cartridges .carousel-control-prev .carousel-control-prev-icon, main .replaceable_cartridges .cont .cartridges .carousel-control-prev .carousel-control-next-icon, main .replaceable_cartridges .cont .cartridges .carousel-control-next .carousel-control-prev-icon, main .replaceable_cartridges .cont .cartridges .carousel-control-next .carousel-control-next-icon {
  background-color: #1C69D4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 40%;
}
main .replaceable_cartridges .cont button {
  width: 250px;
  height: 50px;
  background-color: #1C69D4;
  border: none;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 0 8px 0;
}
main .replaceable_cartridges .cont button:hover {
  cursor: pointer;
}
main .replaceable_cartridges .cont button:focus {
  border: 2px solid #57A2E8;
}
main .cartridges_cliker_new {
  display: none;
}

.footer_forma .header_content {
  padding: 75px 0 0 0;
}

footer {
  height: 120px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
footer img {
  position: absolute;
  right: 300px;
}
footer p {
  color: #ffffff;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .cont {
    width: 100%;
  }

  header, .footer_forma {
    padding: 0 0 100px 0;
  }
  header .nav, .footer_forma .nav {
    height: 70px;
  }
  header .nav .logo1, .footer_forma .nav .logo1 {
    left: 23px;
    top: 8px;
  }
  header .nav .logo1 img, .footer_forma .nav .logo1 img {
    width: 90px;
  }
  header .nav .right_nav, .footer_forma .nav .right_nav {
    height: 70px;
  }
  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 98px;
  }
  header .nav .right_nav .logo2 img, .footer_forma .nav .right_nav .logo2 img {
    width: 135px;
  }
  header .nav .right_nav ul li a, .footer_forma .nav .right_nav ul li a {
    font-size: 14px;
    line-height: 71px;
  }
  header .cont .left_content, .footer_forma .cont .left_content {
    width: 569px !important;
    margin-left: 10px;
  }
  header .cont .left_content .h3_one, .footer_forma .cont .left_content .h3_one {
    font-size: 36px !important;
  }
  header .cont .left_content .h3_two, .footer_forma .cont .left_content .h3_two {
    font-size: 20px !important;
  }
  header .cont .left_content .span_three, .footer_forma .cont .left_content .span_three {
    font-size: 30px !important;
  }
  header .cont .left_content .accent, .footer_forma .cont .left_content .accent {
    font-size: 23px !important;
  }
  header .cont .left_content form h5, .footer_forma .cont .left_content form h5 {
    font-size: 17px !important;
  }
  header .cont .left_content form input, .footer_forma .cont .left_content form input {
    height: 45px !important;
    font-size: 16px !important;
  }
  header .cont .left_content form button, .footer_forma .cont .left_content form button {
    width: 230px !important;
  }
  header .cont .right_content, .footer_forma .cont .right_content {
    margin-left: 75px !important;
  }
  header .cont .right_content img, .footer_forma .cont .right_content img {
    width: 370px !important;
    height: 329px !important;
  }
  header .cont .right_content .img, .footer_forma .cont .right_content .img {
    top: 130px !important;
    left: -86px !important;
  }

  .bmw_natural .cont .air_content .air .img {
    width: 340px !important;
  }
  .bmw_natural .cont .air_content .air .img img {
    width: 368px !important;
  }
  .bmw_natural .cont .air_content .air_two .first_img {
    width: 451px !important;
  }
  .bmw_natural .cont .air_content .air_two .first_img img {
    width: 452px !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img {
    width: 451px !important;
    height: 385px !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img img {
    width: 447px !important;
    height: 456px !important;
  }

  .aromas_bmw .aromas_bmw_content .aromos_aromo, main .max_pleasure .aromas_bmw_content .aromos_aromo, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo {
    margin: 0 0 0 60px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    font-size: 36px !important;
    width: 409px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img, main .max_pleasure .aromas_bmw_content .aromo_img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img {
    width: 643px !important;
    height: 418px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img img, main .max_pleasure .aromas_bmw_content .aromo_img img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img img {
    height: 419px !important;
    width: 640px !important;
  }

  .absolute_sensation .absolute_content .aromo_img, main .flavor_minuses .absolute_content .aromo_img {
    width: 570px !important;
    height: 430px !important;
  }
  .absolute_sensation .absolute_content .aromo_img img, main .flavor_minuses .absolute_content .aromo_img img {
    width: 570px !important;
    height: 432px !important;
  }
  .absolute_sensation .absolute_content .aromo, main .flavor_minuses .absolute_content .aromo {
    width: 492px !important;
    margin: 0 !important;
  }
  .absolute_sensation .absolute_content .aromo h2, main .flavor_minuses .absolute_content .aromo h2 {
    width: 492px !important;
    font-size: 30px !important;
  }
  .absolute_sensation .absolute_content .aromo h5, main .flavor_minuses .absolute_content .aromo h5 {
    width: 290px !important;
    font-size: 18px !important;
  }
  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    font-size: 11px !important;
  }

  .max_pleasure .aromas_bmw_content .aromo {
    margin: 0 0 0 60px !important;
    width: 413px !important;
  }
  .max_pleasure .aromas_bmw_content .aromo h2 {
    width: 405px !important;
    font-size: 36px !important;
  }
  .max_pleasure .aromas_bmw_content .aromo_img {
    width: 670px !important;
    height: 418px !important;
  }
  .max_pleasure .aromas_bmw_content .aromo_img img {
    height: 418px !important;
  }

  .flavor_minuses .aromas_bmw_content .aromo h2 {
    font-size: 36px !important;
    width: 391px !important;
    margin: 73px 0 80px 0 !important;
  }
  .flavor_minuses .aromas_bmw_content .aromo_img {
    width: 670px !important;
    height: 357px !important;
  }
  .flavor_minuses .aromas_bmw_content .aromo_img img {
    width: 523px !important;
    height: 358px !important;
  }

  .do_not_deny_nothing .aromas_bmw_content .aromo {
    width: 600px !important;
  }
  .do_not_deny_nothing .aromas_bmw_content .do_noy_img {
    height: 418px !important;
  }
  .do_not_deny_nothing .aromas_bmw_content .before-el {
    left: 200px !important;
  }

  .reviews .reviews_content .comment .comment_content {
    width: 100% !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment {
    width: 375px !important;
    margin: 0 0 0 25px !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment p {
    width: 320px !important;
  }

  .replaceable_cartridges .cont {
    width: 100% !important;
  }

  body .all_cont {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    width: 364px !important;
    font-size: 34px !important;
    margin-bottom: 120px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img img, main .max_pleasure .aromas_bmw_content .aromo_img img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img img {
    width: 100% !important;
  }

  .reviews .reviews_content .comment .comment_content {
    width: 100%;
  }
  .reviews .reviews_content .comment .comment_content .left_comment {
    width: 328px;
  }
  .reviews .reviews_content .comment .carousel .carousel-control-prev, .reviews .reviews_content .comment .carousel .carousel-control-next {
    width: 10%;
  }

  header .nav .right_nav, .footer_forma .nav .right_nav {
    justify-content: space-evenly !important;
  }
  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 120px !important;
  }
  header .nav .right_nav ul, .footer_forma .nav .right_nav ul {
    justify-content: space-evenly !important;
  }

  .absolute_sensation .absolute_content .aromo_img, main .flavor_minuses .absolute_content .aromo_img {
    width: 540px !important;
    height: 430px !important;
  }
  .absolute_sensation .absolute_content .aromo_img img, main .flavor_minuses .absolute_content .aromo_img img {
    width: 540px !important;
    height: 432px !important;
  }
  .absolute_sensation .absolute_content .aromo, main .flavor_minuses .absolute_content .aromo {
    width: 492px !important;
    margin: 0 !important;
  }
  .absolute_sensation .absolute_content .aromo h2, main .flavor_minuses .absolute_content .aromo h2 {
    width: 350px !important;
    font-size: 30px !important;
  }
  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    width: 370px !important;
  }
}
@media screen and (max-width: 980px) {
  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    width: 310px !important;
    font-size: 34px !important;
    margin-bottom: 120px !important;
  }

  .max_pleasure .aromas_bmw_content .aromo h2 {
    width: 318px !important;
    font-size: 35px !important;
  }

  .flavor_minuses .minuses {
    flex-wrap: wrap !important;
    padding: 0 20px;
  }
  .flavor_minuses .minuses ul li {
    font-size: 18px !important;
  }
  .flavor_minuses .minuses .minuses_right {
    margin: 10px 0 0 0 !important;
  }

  .do_not_deny_nothing .aromas_bmw_content .before-el {
    left: 130px !important;
  }

  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 120px !important;
  }

  .reviews .reviews_content .comment .comment_content {
    width: 100% !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment {
    width: 237px !important;
    margin: 0 0 0 25px !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment h4 {
    font-size: 14px !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment p {
    width: 155px !important;
  }

  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    margin: 20px 0 0 0 !important;
    width: 350px !important;
  }
  .absolute_sensation .absolute_content .aromo button, main .flavor_minuses .absolute_content .aromo button {
    margin: 20px 0 0 0 !important;
  }

  header .header_content .cont .left_content, .footer_forma .header_content .cont .left_content {
    width: 525px !important;
  }
  header .header_content .cont .left_content .h3_one, .footer_forma .header_content .cont .left_content .h3_one {
    font-size: 30px !important;
  }
  header .header_content .cont .right_content, .footer_forma .header_content .cont .right_content {
    margin: 100px 0 0 0 !important;
  }
}
@media screen and (max-width: 860px) {
  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 -420px !important;
  }
  header .nav .right_nav ul, .footer_forma .nav .right_nav ul {
    display: none !important;
  }
  header .nav .burger_menu_button, .footer_forma .nav .burger_menu_button {
    display: block;
  }
  header .header_content .cont .left_content, .footer_forma .header_content .cont .left_content {
    width: 400px !important;
  }
  header .header_content .cont .left_content .h3_one, .footer_forma .header_content .cont .left_content .h3_one {
    font-size: 25px !important;
  }
  header .header_content .cont .left_content .h3_two, .footer_forma .header_content .cont .left_content .h3_two {
    font-size: 18px !important;
  }
  header .header_content .cont .left_content .span_three, .footer_forma .header_content .cont .left_content .span_three {
    font-size: 25px !important;
  }
  header .header_content .cont .left_content .accent, .footer_forma .header_content .cont .left_content .accent {
    font-size: 19px !important;
  }
  header .header_content .cont .left_content form h5, .footer_forma .header_content .cont .left_content form h5 {
    font-size: 17px !important;
  }
  header .header_content .cont .left_content form input, .footer_forma .header_content .cont .left_content form input {
    height: 40px !important;
    font-size: 13px !important;
  }
  header .header_content .cont .left_content form button, .footer_forma .header_content .cont .left_content form button {
    width: 196px !important;
    height: 43px !important;
    font-size: 20px !important;
  }
  header .header_content .cont .right_content, .footer_forma .header_content .cont .right_content {
    margin: 63px 0 0 0 !important;
  }
  header .header_content .cont .right_content img, .footer_forma .header_content .cont .right_content img {
    width: 332px !important;
    height: 300px !important;
  }

  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    margin: 100px 0 117px 0 !important;
  }

  .reviews .reviews_content h3 .comment .comment_content {
    flex-wrap: wrap !important;
    height: 400px !important;
    width: 100px !important;
  }
  .reviews .reviews_content h3 .comment .comment_content .left_comment {
    width: 410px !important;
    text-align: center;
  }
  .reviews .reviews_content h3 .comment .comment_content .left_comment p {
    margin: 0 auto 20px !important;
    width: 100% !important;
  }

  .bmw_natural .cont .air_content .air .one {
    width: 290px !important;
  }
  .bmw_natural .cont .air_content .air .two {
    width: 290px !important;
  }
  .bmw_natural .cont .air_content .air_two .first_img {
    width: 430px !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img {
    width: 430px !important;
  }

  .absolute_sensation .absolute_content .aromo, main .flavor_minuses .absolute_content .aromo {
    width: 100% !important;
  }
  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    margin: 20px 0 0 0 !important;
    width: 334px !important;
  }
  .absolute_sensation .absolute_content .aromo button, main .flavor_minuses .absolute_content .aromo button {
    margin: 20px 0 0 0 !important;
  }
}
@media screen and (max-width: 800px) {
  header .header_content, .footer_forma .header_content {
    padding: 150px 0 0 0 !important;
  }
  header .header_content .cont, .footer_forma .header_content .cont {
    display: flex !important;
    flex-wrap: wrap-reverse !important;
  }
  header .header_content .cont .left_content, .footer_forma .header_content .cont .left_content {
    width: 450px !important;
    margin: 0 auto !important;
    text-align: center !important;
  }
  header .header_content .cont .left_content .h3_one, .footer_forma .header_content .cont .left_content .h3_one {
    font-size: 27px !important;
  }
  header .header_content .cont .left_content .timer, .footer_forma .header_content .cont .left_content .timer {
    margin: 0 auto;
  }
  header .header_content .cont .right_content, .footer_forma .header_content .cont .right_content {
    margin: 72px auto 0 !important;
  }
  header .header_content .cont .right_content img, .footer_forma .header_content .cont .right_content img {
    width: 351px !important;
    height: 301px !important;
  }

  .aromas_bmw .aromas_bmw_content, main .max_pleasure .aromas_bmw_content, main .do_not_deny_nothing .aromas_bmw_content {
    flex-wrap: wrap-reverse;
  }
  .aromas_bmw .aromas_bmw_content .aromos_aromo, main .max_pleasure .aromas_bmw_content .aromos_aromo, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo {
    margin: 0 auto !important;
    text-align: center !important;
  }
  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    width: 411px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img, main .max_pleasure .aromas_bmw_content .aromo_img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img {
    width: 100% !important;
    background-color: #1C69D4;
  }

  .absolute_sensation .absolute_content, main .flavor_minuses .absolute_content {
    flex-wrap: wrap;
  }
  .absolute_sensation .absolute_content .aromo_img, main .flavor_minuses .absolute_content .aromo_img {
    width: 100% !important;
    background-color: #1C69D4;
  }
  .absolute_sensation .absolute_content .aromo_img img, main .flavor_minuses .absolute_content .aromo_img img {
    width: 100% !important;
    height: 432px !important;
    margin-top: -1px !important;
  }
  .absolute_sensation .absolute_content .aromo, main .flavor_minuses .absolute_content .aromo {
    width: 100% !important;
    text-align: center;
  }
  .absolute_sensation .absolute_content .aromo h2, main .flavor_minuses .absolute_content .aromo h2 {
    text-align: center !important;
    width: 100% !important;
    margin: 23px 0 23px 0 !important;
  }
  .absolute_sensation .absolute_content .aromo h5, main .flavor_minuses .absolute_content .aromo h5 {
    text-align: center !important;
    width: 100% !important;
  }
  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    font-size: 15px !important;
    padding: 0 10px;
    margin: 10px auto !important;
    width: 100% !important;
  }

  .max_pleasure .max_pleasure_content .aromo {
    margin: 0 auto !important;
  }
  .max_pleasure .max_pleasure_content .aromo h2 {
    width: 100% !important;
    text-align: center;
  }
  .max_pleasure .max_pleasure_content .aromo p {
    text-align: center;
  }

  .do_not_deny_nothing .do_not_deny_content .aromo {
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo h2 {
    text-align: center;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo span {
    margin: 0 !important;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo p {
    margin: 20px auto 0 !important;
    text-align: center;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div {
    margin: 15px auto 0 !important;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate {
    background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.png");
  }
  .do_not_deny_nothing .do_not_deny_content .before-el {
    position: absolute;
    width: 700px;
    height: 1000px;
    left: 55px !important;
    top: -200px;
    box-shadow: 20px -15px 10px 4727px rgba(0, 0, 0, 0.5);
    z-index: 999;
    background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.jpg");
    padding: 450px 0 0 300px;
    display: none;
  }
  .do_not_deny_nothing .do_not_deny_content .before-el a {
    color: gray;
    font-size: 80px;
    transition: 0.3s;
    opacity: 0.6;
  }
  .do_not_deny_nothing .do_not_deny_content .before-el .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000vh;
    height: 100vh;
  }

  .reviews .reviews_content .comment .comment_content {
    flex-wrap: wrap !important;
    height: 360px !important;
  }
  .reviews .reviews_content .comment .comment_content .left_comment {
    width: 390px !important;
    margin: 0 0 20px 0 !important;
    text-align: center;
  }
  .reviews .reviews_content .comment .comment_content .left_comment p {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  header, .footer_forma {
    background-image: url("../img/header/back-1_2 (1).png");
    background-color: #322E25 !important;
    background-position: top left !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
  }
  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 -300px !important;
  }
  header .nav .burger_menu_li, .footer_forma .nav .burger_menu_li {
    width: 100%;
    height: 100%;
    padding: 220px 0 0 0;
  }
  header .nav .burger_menu_li .burger_menu_content a, .footer_forma .nav .burger_menu_li .burger_menu_content a {
    font-size: 30px;
    line-height: 55px;
  }
  header .header_content, .footer_forma .header_content {
    padding: 290px 0 0 0 !important;
  }

  .bmw_natural {
    height: auto !important;
    padding: 50px 0 50px 0 !important;
  }
  .bmw_natural .cont .air_content {
    flex-wrap: wrap;
  }
  .bmw_natural .cont .air_content .air {
    text-align: center !important;
  }
  .bmw_natural .cont .air_content .air .one {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air .one img {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air .two {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air .two img {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air_two {
    margin: 5px 0 0 0 !important;
  }
  .bmw_natural .cont .air_content .air_two .first_img {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air_two .first_img img {
    width: 100% !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img {
    width: 100% !important;
    height: 458px !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img img {
    width: 100% !important;
    height: 518px !important;
  }

  .do_not_deny_nothing .aromas_bmw_content .before-el {
    left: 0 !important;
  }
}
@media screen and (max-width: 640px) {
  .reviews .reviews_content h3 .comment .comment_content .left_comment {
    width: 300px !important;
  }
  .reviews .reviews_content h3 .comment .comment_content .right_comment {
    width: 300px !important;
  }
  .reviews .reviews_content h3 .comment .comment_content .right_comment img {
    width: 300px !important;
  }

  .flavors .cont .timer, main .absolute_sensation .cont .timer, main .flavor_minuses .cont .timer {
    width: 300px !important;
  }
  .flavors .cont .timer .clock, main .absolute_sensation .cont .timer .clock, main .flavor_minuses .cont .timer .clock {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .flavors .cont .flavors_content h6, main .absolute_sensation .cont .flavors_content h6, main .flavor_minuses .cont .flavors_content h6 {
    margin: 0 0 15px 0 !important;
    font-size: 20px !important;
    text-align: center !important;
  }
  .flavors .cont .flavors_content .video_iframe, main .absolute_sensation .cont .flavors_content .video_iframe, main .flavor_minuses .cont .flavors_content .video_iframe {
    width: 100% !important;
  }

  .bmw_natural .cont .air_content .air {
    text-align: center;
    margin-right: 0 !important;
  }

  .wrap_timer .timer-slide-bounding, .wrap_timer .timer-slide-new, .wrap_timer .timer-slide-old {
    padding: 0 !important;
  }

  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 0 !important;
  }
  header .header_content .right_content .img, .footer_forma .header_content .right_content .img {
    left: -33px !important;
  }

  .replaceable_cartridges {
    display: none !important;
  }

  .cartridges_cliker_new {
    display: block !important;
  }
}
@media screen and (max-width: 460px) {
  .flavor_minuses h3 {
    padding: 0 15px !important;
    font-size: 35px !important;
  }
  .flavor_minuses .minuses {
    text-align: center;
  }
  .flavor_minuses .flavors_content .aromo h2 {
    padding: 0 15px !important;
  }

  .flavors .cont .timer, main .absolute_sensation .cont .timer, main .flavor_minuses .cont .timer {
    width: 100% !important;
    height: 100% !important;
  }
  .flavors .cont .timer .clock, main .absolute_sensation .cont .timer .clock, main .flavor_minuses .cont .timer .clock {
    width: 100% !important;
  }
  .flavors .cont .flavors_content h3, main .absolute_sensation .cont .flavors_content h3, main .flavor_minuses .cont .flavors_content h3 {
    margin: 0 !important;
  }
  .flavors .cont .flavors_content .video_iframe, main .absolute_sensation .cont .flavors_content .video_iframe, main .flavor_minuses .cont .flavors_content .video_iframe {
    height: 220px !important;
    margin: 50px 0 !important;
  }
  .flavors .cont .flavors_content button, main .absolute_sensation .cont .flavors_content button, main .flavor_minuses .cont .flavors_content button {
    margin: 0 !important;
  }

  .aromas_bmw .aromas_bmw_content .aromos_aromo h2, main .max_pleasure .aromas_bmw_content .aromos_aromo h2, main .do_not_deny_nothing .aromas_bmw_content .aromos_aromo h2 {
    width: 100% !important;
    font-size: 30px !important;
    padding: 0 15px !important;
    margin: 50px 0 !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img, main .max_pleasure .aromas_bmw_content .aromo_img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img {
    width: 100% !important;
    height: 250px !important;
  }
  .aromas_bmw .aromas_bmw_content .aromo_img img, main .max_pleasure .aromas_bmw_content .aromo_img img, main .do_not_deny_nothing .aromas_bmw_content .aromo_img img {
    height: 250px !important;
    width: 100% !important;
    margin: -1px 0 0 -1px !important;
  }

  .replaceable_cartridges {
    padding: 0 !important;
    height: auto !important;
    padding: 0 0 20px 0 !important;
  }
  .replaceable_cartridges .cont {
    width: 100% !important;
  }
  .replaceable_cartridges .cont h3 {
    font-weight: 600;
    font-size: 31px !important;
    text-align: center;
    padding: 0 15px !important;
  }
  .replaceable_cartridges .cont h3 span {
    font-weight: 400;
  }
  .replaceable_cartridges .cont .cartridges {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .replaceable_cartridges .cont .cartridges .carousel-inner {
    text-align: center !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .replaceable_cartridges .cont .cartridges .carousel-inner .card {
    border: none;
    margin: 0 auto !important;
    height: 524px;
    text-align: center;
    width: 288px !important;
  }
  .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-item {
    padding: 0 !important;
  }
  .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-prev, .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-next {
    background-image: block;
  }
  .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-prev .carousel-control-prev-icon, .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-prev .carousel-control-next-icon, .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-next .carousel-control-prev-icon, .replaceable_cartridges .cont .cartridges .carousel-inner .carousel-control-next .carousel-control-next-icon {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 40%;
  }
  .replaceable_cartridges header .header_content .cont .right_content .img, .replaceable_cartridges .footer_forma .header_content .cont .right_content .img {
    top: 145px !important;
    left: -12px !important;
  }

  .do_not_deny_nothing .do_not_deny_content .aromo {
    padding: 30px 15px 0 !important;
    width: 100% !important;
    text-align: center !important;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo h2 {
    margin: 0 0 30px !important;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo span {
    margin: 0 !important;
  }
  .do_not_deny_nothing .do_not_deny_content .aromo p {
    width: 100% !important;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div {
    width: 160px !important;
    height: 220px !important;
    position: relative;
    margin: 0 auto !important;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate {
    position: absolute;
    top: 14px !important;
    left: 0;
    background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.jpg");
    width: 160px !important;
    height: 220px !important;
    padding: 62px 0 0 50px !important;
    transform: scale(1);
    transition: 0.3s;
    background-size: 160px 220px !important;
    background-repeat: no-repeat;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate a {
    color: gray;
    font-size: 60px !important;
    transition: 0.3s;
    display: none;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
  }
  .do_not_deny_nothing .do_not_deny_content .do_noy_img .sertificate_div .img_sertificate:hover a {
    display: block;
  }
  .do_not_deny_nothing .do_not_deny_content .before-el {
    position: absolute;
    width: 100% !important;
    height: 560px !important;
    left: 0 !important;
    top: 0 !important;
    box-shadow: 20px -15px 10px 4727px rgba(0, 0, 0, 0.5);
    z-index: 999;
    background-image: url("../img/aromo_bmw/Sertifikat_sootvetstviya.jpg");
    padding: 450px 0 0 300px;
    display: none;
    overflow: auto !important;
    background-size: 100% 560px !important;
    background-repeat: no-repeat !important;
  }
  .do_not_deny_nothing .do_not_deny_content .before-el a {
    color: gray;
    font-size: 80px;
    transition: 0.3s;
    opacity: 0.6;
  }
  .do_not_deny_nothing .do_not_deny_content .before-el .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000vh;
    height: 100vh;
  }

  header, .footer_forma {
    padding: 0 0 50px 0 !important;
  }
  header .nav .logo1, .footer_forma .nav .logo1 {
    left: 0 !important;
  }
  header .nav .right_nav .logo2, .footer_forma .nav .right_nav .logo2 {
    margin: 10px 0 0 -20px !important;
  }
  header .header_content, .footer_forma .header_content {
    padding: 120px 0 0 0 !important;
  }
  header .header_content .cont .right_content .img, .footer_forma .header_content .cont .right_content .img {
    left: -10px !important;
  }
  header .header_content .cont .left_content .h3_one, .footer_forma .header_content .cont .left_content .h3_one {
    font-size: 32px !important;
    margin: 40px 0 13px !important;
  }
  header .header_content .cont .left_content form input, .footer_forma .header_content .cont .left_content form input {
    height: 50px !important;
    font-size: 20px !important;
    margin-top: 10px !important;
    width: 300px !important;
  }

  .cartridges_cliker_new {
    padding: 50px 0 50px 0 !important;
  }
  .cartridges_cliker_new .cartridges .carousel-control-prev, .cartridges_cliker_new .cartridges .carousel-control-next {
    top: -250px !important;
    width: 23% !important;
  }

  .absolute_sensation .absolute_content, main .flavor_minuses .absolute_content {
    display: flex;
  }
  .absolute_sensation .absolute_content .aromo_img, main .flavor_minuses .absolute_content .aromo_img {
    width: 100% !important;
    height: 250px !important;
  }
  .absolute_sensation .absolute_content .aromo_img img, main .flavor_minuses .absolute_content .aromo_img img {
    width: 100% !important;
    height: 250px !important;
  }
  .absolute_sensation .absolute_content .aromo p, main .flavor_minuses .absolute_content .aromo p {
    padding: 0 15px !important;
  }

  .reviews .reviews_content .comment .comment_content .left_comment {
    width: 390px;
    height: 141px !important;
    margin: 0 80px 0 0;
  }
  .reviews .reviews_content .comment .comment_content .left_comment h4 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 400;
  }
  .reviews .reviews_content .comment .comment_content .left_comment p {
    margin: 0;
    font-size: 14px;
  }
  .reviews .reviews_content .comment .comment_content .right_comment {
    width: 100% !important;
  }
  .reviews .reviews_content .comment .comment_content .right_comment img {
    width: 100% !important;
  }
  .reviews .reviews_content .comment .carousel .carousel-control-prev, .reviews .reviews_content .comment .carousel .carousel-control-next {
    top: 150px !important;
    width: 23% !important;
  }
  .reviews .reviews_content .comment .carousel .carousel-control-prev .carousel-control-prev-icon, .reviews .reviews_content .comment .carousel .carousel-control-prev .carousel-control-next-icon, .reviews .reviews_content .comment .carousel .carousel-control-next .carousel-control-prev-icon, .reviews .reviews_content .comment .carousel .carousel-control-next .carousel-control-next-icon {
    background-color: #1C69D4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 40%;
  }

  .bmw_natural .cont .air_content .air .one {
    margin: 50px 0 0 0 !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img {
    height: 281px !important;
  }
  .bmw_natural .cont .air_content .air_two .second_img img {
    height: 350px !important;
  }

  .max_pleasure .max_pleasure_content .aromo h2 {
    margin: 50px 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
